<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dungeon Crawler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreivinWenFinalProject">

        <!-- Main Menu — launches first -->
        <activity
            android:name=".ui.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Game screen -->
        <activity
            android:name=".ui.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Leaderboard screen -->
        <activity
            android:name=".ui.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
